<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <startPageTest>
        <processor type="Sitecore.Support.ContentTesting.Pipelines.StartPageTest.ProtectTestedItems, Sitecore.Support.188111"
                   patch:after="*[@type='Sitecore.ContentTesting.Pipelines.StartPageTest.DeployTest, Sitecore.ContentTesting']" />

      </startPageTest>

      <cancelTest>
        <processor type="Sitecore.Support.ContentTesting.Pipelines.CancelTest.UnprotectTestedItems, Sitecore.Support.188111"
                   patch:before="*[@type='Sitecore.ContentTesting.Pipelines.CancelTest.ProcessTestWorkflow, Sitecore.ContentTesting']" />
      </cancelTest>

      <stopTest>
        <processor type="Sitecore.Support.ContentTesting.Pipelines.StopTest.UnprotectTestedItems, Sitecore.Support.188111"
                   patch:before="*[@type='Sitecore.ContentTesting.Pipelines.StopTest.StoreWinnerCombination, Sitecore.ContentTesting']" />
      </stopTest>

      <getContentEditorWarnings>
        <processor type="Sitecore.Support.Pipelines.GetContentEditorWarnings.IsReadOnly, Sitecore.Support.188111" patch:instead="*[@type='Sitecore.Pipelines.GetContentEditorWarnings.IsReadOnly, Sitecore.Kernel']" />
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>